{% extends 'layout.html' %}
{% load rbac %}

{% block css %}
    <style>
        tr.active{
            border-left: 3px solid orange;
        }
        .user-state a{
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="luffy-container">
        <div class="col-md-3">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <i class="fa fa-book" aria-hidden="true"></i> 用户信息
                </div>
                <div class="panel-body">
                    <ul>
                        {% for user in user_list %}
                            <li class="{% if user.id|safe == user_id %}user-state{% endif %}"><a href="?uid={{ user.id }}">{{ user.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-gavel" aria-hidden="true"></i> 角色信息
                    {% if user_id %}
                        <a href="#" class="right btn btn-success btn-xs">保存</a>
                    {% endif %}
                </div>
                <div class="panel-body">
                    提示: 点击用户后才能为其分派角色
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>角色</th>
                        <th>选项</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for role in role_list %}
                            <tr>
                                <td>{{ role.title }}</td>
                                <td>
                                    <input type="checkbox" name="roles" value="{{ role.id }}" {% if role.id in user_has_roles_dict %}checked{% endif %}>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <i class="fa fa-book" aria-hidden="true"></i> 权限分配
                </div>
                <div class="panel-body">
                    提示: 点击角色后才能为其分派权限
                </div>
                <table class="table">
                    <tbody>
                    {% for menu_item in all_menu_list %}
                        <tr class="root">
                            <td>
                                <i class="fa fa-caret-down" aria-hidden="true"></i> {{ menu_item.title }}

                                <div class="select-help pull-right">
                                    <div class="check-all">
                                        <label for="check_all_{{ menu_item.id }}">全选</label>
                                        <input type="checkbox" id="check_all_{{ menu_item.id }}">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="node">
                            <td>
                                {% for item in menu_item.children %}
                                    <input type="checkbox" id="permission_{{ item.id }}" name="permission" value="{{ item.id }}"
                                     {% if item.id in user_has_permissions_dict %}
                                        checked
                                     {% endif %} >
                                    {% if item.is_menu %}
                                    <label for="permission_{{ item.id }}">{{ item.title }}(菜单) </label>
                                    {% else %}
                                    <label for="permission_{{ item.id }}">{{ item.title }}</label>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}